<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <!--
                  %d    = timestamp
                  %t    = thread name
                  %-5p  = log level (padded)
                  %c{1} = class name (short)
                  %X{username} = MDC/ThreadContext variable
                  %m    = message
                -->
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} [user:%X{username}] - %m%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- Optional file appender -->
        <File name="FileLog" fileName="/opt/tomcat/uproad/logs/app.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} [user:%X{username}] - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>
